/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 20, 2025, 2:32:20 PM
    Author     : Simon Yap
*/

footer {
     background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer .links {
    margin: 10px 0;
}

footer .links a {
    color: #3498db;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
}

footer .links a:hover {
    text-decoration: underline;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

footer .social-media a:hover {
    color: #3498db;
}