body {
    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

footer {
     background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer .links {
    margin: 10px 0;
}

footer .links a {
    color: #3498db;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
}

footer .links a:hover {
    text-decoration: underline;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

footer .social-media a:hover {
    color: #3498db;
}